@charset "UTF-8";

$white: #ffffff;
$black: #000000;

// spacing
$space-inset-xs: 0 4px;
$space-inset-sm: 0 8px;
$space-inset-md: 0 16px;
$space-inset-lg: 0 32px;
$space-inset-xl: 0 64px;
$space-stack-xs: 4px 0;
$space-stack-sm: 8px 0;
$space-stack-md: 16px 0;
$space-stack-lg: 32px 0;
$space-stack-xl: 64px 0;
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;
